<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Reminder</title>
</head>
<body>
    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
        <h2>Daily Reminder</h2>
        <p>Hello {{ user }},</p>
        <p>We hope this message finds you well.</p>
        <p>This is your friendly reminder to drop by our app today! We're excited to share that we've rolled out new updates, introduced exciting features, and curated awesome content just for you.</p>
        <p>Your experience matters to us, and we wouldn't want you to miss out on anything. So, why wait? Log in to our app now and explore all that's new.</p>
        <p>Best Regards,</p>
        <p>Team Swar</p>
    </div>
</body>
</html>
